<footer>
    <div class="contentup-footer">
   
        <div class="logoFooter"><img src="/img/header-logo.png" alt="logo">
            <h3>Tienda De Accesorios María Martínez</h3>
        </div>
        

        <div>
            <ul>
                <h3>¡Los mejores productos!</h3>
                <br>
                <li>Compra legal.</li>
                <li>Calidad garantizada.</li>
                <li>Los mejores precios del mercado.</li>
            </ul>
        </div>
        <div class =icons>
            <a href="https://www.facebook.com/TiendaDeAccesoriosMaríaMartínez/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/TiendaDeAccesoriosMaríaMartínez/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.reddit.com/TiendaDeAccesoriosMaríaMartínez/"><i class="fa-brands fa-reddit"></i></a>
            
            
        </div>
    </div>
    <div class="contentdown-footer">
        <p>Todos los derechos reservados Tienda De Accesorios María Martínez, Colombia 2023</p>
    </div>
</footer>