.text-title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.card-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    margin-bottom: 5px;
}

.img-card{
    max-width: 130px;
    padding: 15px;
}

.name-product{
    font-size: 22px;
    font-weight: 900;
    margin-right: 8px;
}

.price-product{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.btn-eliminar{
    background-color: #34DFB6;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    padding: 10px;
}
.content-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.content-info{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.shoppingCard{
    display: flex;
    margin-bottom: 40px;
}

.card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    width: 70%;
    min-height: 50vh;
    border-radius: 10px;
    margin-top: 20px;
}
.item-card{
    font-size: 22px;
    font-weight: 600;
}
.comprar{
    background-color: #34DFB6;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    padding: 10px;
}

.title-shopping-card{
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}
