.container-product-update {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-update {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
}

.form-product-update {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    border: #777 solid;
    border-radius: 10px;
    padding: 15px;
}


.form-product-update input[type="text"]{
    border: none;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(245, 245, 245);
}

.form-product-update button {
    margin-top: 15px;
    background-color: #34DFB6;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 35px;
    font-size: 17px;
    font-weight: 600;
}

.input-file {
    border: 1px solid transparent;
    cursor: pointer;
}

.file{
    width: 90%;
}

.select{
    width: 90%;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245); ;
}
.oculto{
    display: none;
}
.form-product-update img{
    max-width: 50%;
}

.errorsList{
    width: 90%;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    margin-bottom: 5px;
    color: rgb(230, 109, 109);
}

@media (min-width:1200px) {
    /* .formRegisterUser {
        width: 50%;
    } */

    /* .check {
        align-self: baseline;
        padding-left: 35px;
    } */

    .form-product-update{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .form-product-update input[type="text"]{
        width: 35%;

    }

    .select{
        width: 35%;
    }

    .file{
        width: 35%;
    }

    .btn-content {
        width:100%;
        display: flex;
        justify-content: center;
    }
}